body{
    margin: 0;
    box-sizing: border-box;
}
#logo{
width: 300px;
height: 300px;
object-fit: cover; 
}
#logoProfile{
    width: 100px;
    height: 100px;
    object-fit: cover; 
}
#userProfilePic{
    width: 100px;
    height: 100px;
    object-fit: cover;  
}